div.banner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 300px;
}

div.banner img {
    width: 100%;
}

div.anh {
    width: 100%;
}

.mySlides {
    display: none;
}

.mySlides:first-child {
    display: block;
}

div.bottom {
    position: absolute;
    margin: 0 auto;

}

.left {
    width: 1%;
    background-color: white;
    cursor: pointer;
    float: left !important;
}

.right {
    width: 1%;
    background-color: white;
    float: right !important;

}